# Sets

So far in this class we have learned about sequences (specifically tuples and lists) as ways to store multiple values in a single object.  These objects place the values in a certain order, and since each entry can be any value, repetitions are allowed. But what if we are only concerned with the distinct objects themselves and not about how many times or in what order they appear?   

## 1. The Basics

Python also has a `set` type that has the properties of a mathematical set: it is an unordered collection of distinct objects. Sets can be defined using the roster notation we learned in Section 2.1

In [1]:
S = {1,2,3}
S

{1, 2, 3}

In [2]:
type(S)

set

Notice that repeated values only appear once in the set.

In [4]:
S = {1,1,1,2,2,3,1,3,3,2}
print(S)
S

{1, 2, 3}

{1, 2, 3}

Values can be added to a set using the `add()` method. Of course, if the value is already in the set, it will not be added again

In [6]:
S.add(4)
print(S)

{1, 2, 3, 4}

In [7]:
S.add(3)
print(S)

{1, 2, 3, 4}

Suppose that we already have a list and want to turn it into as set because we only care about the distinct elements. We can do that as follows.

In [8]:
A = [1,2,3,3,3,4,1,2,4]
S2 = set(A)
S2

{1, 2, 3, 4}

Be careful, though.  An empty set cannot be created using roster notation. `{}` will create an empty dictionary, not an empty set. We will discuss dictionaries later in the course.

In [9]:
D = {}
type(D)

dict

To create an empty set, you should use `set()`.

In [11]:
E = set()
len(E)

0

In [12]:
len(S)

4

The `add` method will only add single values, however.  We will learn how to add multiple values next time.

In [13]:
E.add(A)

TypeError: unhashable type: 'list'

In [14]:
E.add(tuple(A))
E

{(1, 2, 3, 3, 3, 4, 1, 2, 4)}

In [15]:
len(E)

1

## 2. An application.

The file `more_ice_cream.csv` contains data about ice cream purchased in a particular area.  Each row contains the flavor, color, and price of the ice cream. The code below reads the data and stores it in a list called `iceCreamData`.

From the `iceCreamData` list, determine 

1. What distinct flavors appear in the list,
2. What distinct colors appear in the list , and
3. What distinct flavor/color combinations appear in the list.

Store each of these in a set and print your results.

In [16]:
# This part of the code reads the file and produes a list of tuples 
# containing the data.  Do not change it. Just run it.

file = open('more_ice_cream.csv','r') # open the file
data = file.read().split("\n")        # read the file as a string, split it into lines,
                                      # and store the data in an list of strings
    
header = data.pop(0)                  # remove the header line and print it
print("Entries:",header)
iceCreamData = []                     # initialize a list to store the data from the each line
for line in data:                     
    lineData = tuple(line.split(',')) # convert the line into a tuple
    iceCreamData.append(lineData)     # add the tuple to the iceCreamData list.
iceCreamData

Entries: Flavor,Color,Price

[('Chocolate', 'brown', '4.01'),
 ('Cookie Dough', 'white', '4.69'),
 ('Bubble Gum', 'pink', '4.5'),
 ('Vanilla', 'white', '3.14'),
 ('Vanilla', 'white', '3.53'),
 ('Chocolate', 'brown', '3.59'),
 ('Vanilla', 'white', '3.34'),
 ('Chocolate', 'brown', '3.59'),
 ('Bubble Gum', 'blue', '4.6'),
 ('Vanilla', 'white', '3.76'),
 ('Cookie Dough', 'white', '4.24'),
 ('Bubble Gum', 'pink', '4.5'),
 ('Bubble Gum', 'blue', '4.6'),
 ('Vanilla', 'white', '3.48'),
 ('Bubble Gum', 'blue', '4.8'),
 ('Vanilla', 'white', '3.43'),
 ('Vanilla', 'white', '3.23'),
 ('Bubble Gum', 'pink', '4.85'),
 ('Strawberry', 'pink', '3.79'),
 ('Chocolate', 'brown', '3.51'),
 ('Cookie Dough', 'white', '4.34'),
 ('Vanilla', 'white', '3.92'),
 ('Vanilla', 'white', '3.15'),
 ('Vanilla', 'white', '3.42'),
 ('Chocolate', 'brown', '3.29'),
 ('Vanilla', 'white', '3.48'),
 ('Chocolate', 'brown', '3.57'),
 ('Vanilla', 'white', '3.34'),
 ('Strawberry', 'pink', '4.29'),
 ('Vanilla', 'white', '3.68'),
 ('Vanilla', 'white', '3.72'),
 ('Strawberry', 'pink', '4.23'),
 ('Vanilla', 'white', '3.17'),
 ('Chocolate', 'brown', '3.85'),
 ('Cookie Dough', 'white', '4.22'),
 ('Chocolate', 'brown', '3.91'),
 ('Bubble Gum', 'pink', '4.63'),
 ('Vanilla', 'white', '3.32'),
 ('Vanilla', 'white', '3.15'),
 ('Vanilla', 'white', '3.63'),
 ('Chocolate', 'brown', '3.51'),
 ('Strawberry', 'pink', '4.02'),
 ('Chocolate', 'brown', '3.57'),
 ('Strawberry', 'pink', '4.34'),
 ('Vanilla', 'white', '3.46'),
 ('Vanilla', 'white', '2.96'),
 ('Strawberry', 'pink', '4.37'),
 ('Vanilla', 'white', '3.35'),
 ('Vanilla', 'white', '3.54'),
 ('Vanilla', 'white', '3.13'),
 ('Chocolate', 'brown', '3.96'),
 ('Strawberry', 'pink', '4.4'),
 ('Vanilla', 'white', '3.92'),
 ('Vanilla', 'white', '3.35'),
 ('Strawberry', 'pink', '3.77'),
 ('Strawberry', 'pink', '3.87'),
 ('Strawberry', 'pink', '4.13'),
 ('Vanilla', 'white', '3.27'),
 ('Vanilla', 'white', '3.73'),
 ('Chocolate', 'brown', '3.52'),
 ('Vanilla', 'white', '3.4'),
 ('Vanilla', 'white', '3.22'),
 ('Chocolate', 'brown', '3.75'),
 ('Strawberry', 'pink', '4.49'),
 ('Cookie Dough', 'white', '4.41'),
 ('Bubble Gum', 'blue', '4.74'),
 ('Vanilla', 'white', '3.9'),
 ('Bubble Gum', 'blue', '4.84'),
 ('Strawberry', 'pink', '3.91'),
 ('Cookie Dough', 'white', '4.83'),
 ('Bubble Gum', 'pink', '4.66'),
 ('Vanilla', 'white', '3.22'),
 ('Cookie Dough', 'white', '4.59'),
 ('Vanilla', 'white', '3.47'),
 ('Chocolate', 'brown', '4.21'),
 ('Vanilla', 'white', '3.79'),
 ('Chocolate', 'brown', '4.06'),
 ('Vanilla', 'white', '3.6'),
 ('Strawberry', 'pink', '4.47'),
 ('Vanilla', 'white', '3.06'),
 ('Chocolate', 'brown', '3.36'),
 ('Vanilla', 'white', '3.12'),
 ('Bubble Gum', 'blue', '4.63'),
 ('Bubble Gum', 'pink', '4.8'),
 ('Vanilla', 'white', '3.9'),
 ('Vanilla', 'white', '3.4'),
 ('Vanilla', 'white', '3.13'),
 ('Bubble Gum', 'pink', '4.65'),
 ('Chocolate', 'brown', '3.44'),
 ('Cookie Dough', 'white', '4.29'),
 ('Cookie Dough', 'white', '4.22'),
 ('Vanilla', 'white', '2.92'),
 ('Vanilla', 'white', '3.82'),
 ('Cookie Dough', 'white', '4.17'),
 ('Cookie Dough', 'white', '4.27'),
 ('Vanilla', 'white', '2.97'),
 ('Bubble Gum', 'blue', '4.63'),
 ('Chocolate', 'brown', '3.73'),
 ('Bubble Gum', 'blue', '4.57'),
 ('Cookie Dough', 'white', '4.24'),
 ('Vanilla', 'white', '3.46'),
 ('Chocolate', 'brown', '3.65'),
 ('Cookie Dough', 'white', '4.46'),
 ('Vanilla', 'white', '3.71'),
 ('Chocolate', 'brown', '4.25'),
 ('Vanilla', 'white', '3.05'),
 ('Chocolate', 'brown', '3.73'),
 ('Cookie Dough', 'white', '4.24'),
 ('Strawberry', 'pink', '3.86'),
 ('Vanilla', 'white', '3.76'),
 ('Strawberry', 'pink', '4.16'),
 ('Bubble Gum', 'pink', '4.77'),
 ('Strawberry', 'pink', '3.91'),
 ('Vanilla', 'white', '3.71'),
 ('Chocolate', 'brown', '3.55'),
 ('Vanilla', 'white', '3.6'),
 ('Strawberry', 'pink', '3.92'),
 ('Chocolate', 'brown', '3.61'),
 ('Chocolate', 'brown', '3.9'),
 ('Cookie Dough', 'white', '4.17'),
 ('Vanilla', 'white', '3.47'),
 ('Cookie Dough', 'white', '4.36'),
 ('Bubble Gum', 'blue', '4.62'),
 ('Chocolate', 'brown', '3.54'),
 ('Vanilla', 'white', '2.95'),
 ('Vanilla', 'white', '3.89'),
 ('Strawberry', 'pink', '4.16'),
 ('Bubble Gum', 'blue', '4.73'),
 ('Chocolate', 'brown', '3.47'),
 ('Chocolate', 'brown', '3.33'),
 ('Cookie Dough', 'white', '4.11'),
 ('Vanilla', 'white', '3.47'),
 ('Vanilla', 'white', '3.18'),
 ('Vanilla', 'white', '3.71'),
 ('Bubble Gum', 'blue', '4.67')]

In [17]:
iceCreamData[0]

('Chocolate', 'brown', '4.01')

In [18]:
flavors = set()
colors = set()
combos = set()

for p in iceCreamData:
    f = p[0]
    c = p[1]
    flavors.add(f)
    colors.add(c)
    combos.add( (f,c) )

print("Flavors:")
print(flavors)
print("Colors:")
print(colors)
print("Combinations:")
print(combos)

Flavors:
{'Chocolate', 'Cookie Dough', 'Vanilla', 'Bubble Gum', 'Strawberry'}
Colors:
{'pink', 'white', 'brown', 'blue'}
Combinations:
{('Strawberry', 'pink'), ('Cookie Dough', 'white'), ('Bubble Gum', 'blue'), ('Vanilla', 'white'), ('Bubble Gum', 'pink'), ('Chocolate', 'brown')}

## 3. Your turn

The file `top_movies.csv` contains information about the 200 highest grossing films (unadjusted). Each line contains a Title, Studio, Gross, Adjusted Gross, and Year.  The data is read into a list called `topMovies`

In [19]:
# This part of the code reads the file and produes a list of tuples 
# containing the data.  Do not change it. Just run it.
import csv   

file = open('top_movies.csv','r')                    # open file for reading
data = csv.reader(file,delimiter=',',quotechar='"')  # create a csv reader.  this is needed because some titles
                                                     # contain commas
                                               
topMovies = []                                       # create an empty list in which to store the data 
count = 0
for line in data:                                    # process each line of the file
    count += 1
    if(count==1):                                    # skip the first line which contains column headers
        continue
    lineData = tuple(line)                           # store the data as a tuple (for consistency with the previous example)
    topMovies.append(lineData)                       # add the tuple of data to the topMovies list.
    
topMovies

[('Star Wars: The Force Awakens',
  'Buena Vista (Disney)',
  '906723418',
  '906723400',
  '2015'),
 ('Avatar', 'Fox', '760507625', '846120800', '2009'),
 ('Titanic', 'Paramount', '658672302', '1178627900', '1997'),
 ('Jurassic World', 'Universal', '652270625', '687728000', '2015'),
 ("Marvel's The Avengers",
  'Buena Vista (Disney)',
  '623357910',
  '668866600',
  '2012'),
 ('The Dark Knight', 'Warner Bros.', '534858444', '647761600', '2008'),
 ('Star Wars: Episode I - The Phantom Menace',
  'Fox',
  '474544677',
  '785715000',
  '1999'),
 ('Star Wars', 'Fox', '460998007', '1549640500', '1977'),
 ('Avengers: Age of Ultron',
  'Buena Vista (Disney)',
  '459005868',
  '465684200',
  '2015'),
 ('The Dark Knight Rises', 'Warner Bros.', '448139099', '500961700', '2012'),
 ('Shrek 2', 'Dreamworks', '441226247', '618143100', '2004'),
 ('E.T.: The Extra-Terrestrial',
  'Universal',
  '435110554',
  '1234132700',
  '1982'),
 ('The Hunger Games: Catching Fire',
  'Lionsgate',
  '424668047',
  '444697400',
  '2013'),
 ("Pirates of the Caribbean: Dead Man's Chest",
  'Buena Vista (Disney)',
  '423315812',
  '562266800',
  '2006'),
 ('The Lion King', 'Buena Vista (Disney)', '422783777', '775573900', '1994'),
 ('Toy Story 3', 'Buena Vista (Disney)', '415004880', '454156300', '2010'),
 ('Iron Man 3', 'Buena Vista (Disney)', '409013994', '424632700', '2013'),
 ('The Hunger Games', 'Lionsgate', '408010692', '442510400', '2012'),
 ('Spider-Man', 'Sony', '403706375', '604517300', '2002'),
 ('Jurassic Park', 'Universal', '402453882', '799721000', '1993'),
 ('Transformers: Revenge of the Fallen',
  'Paramount/Dreamworks',
  '402111870',
  '468938100',
  '2009'),
 ('Frozen', 'Buena Vista (Disney)', '400738009', '426656900', '2013'),
 ('Harry Potter and the Deathly Hallows Part 2',
  'Warner Bros.',
  '381011219',
  '417512200',
  '2011'),
 ('Finding Nemo', 'Buena Vista (Disney)', '380843261', '535802700', '2003'),
 ('Star Wars: Episode III - Revenge of the Sith',
  'Fox',
  '380270577',
  '516123900',
  '2005'),
 ('The Lord of the Rings: The Return of the King',
  'New Line',
  '377845905',
  '536265400',
  '2003'),
 ('Spider-Man 2', 'Sony', '373585825', '523381100', '2004'),
 ('The Passion of the Christ', 'NM', '370782930', '519432100', '2004'),
 ('Despicable Me 2', 'Universal', '368061265', '407978700', '2013'),
 ('Inside Out', 'Buena Vista (Disney)', '356461711', '375723400', '2015'),
 ('Furious 7', 'Universal', '353007020', '356907000', '2015'),
 ('Transformers: Dark of the Moon',
  'Paramount/Dreamworks',
  '352390543',
  '385069700',
  '2011'),
 ('American Sniper', 'Warner Bros.', '350126372', '374796000', '2014'),
 ('The Lord of the Rings: The Two Towers',
  'New Line',
  '342551365',
  '502210000',
  '2002'),
 ('The Hunger Games: Mockingjay - Part 1',
  'Lionsgate',
  '337135885',
  '354324000',
  '2014'),
 ('Spider-Man 3', 'Sony', '336530303', '425554300', '2007'),
 ('Minions', 'Universal', '336045770', '354213900', '2015'),
 ('Alice in Wonderland (2010)',
  'Buena Vista (Disney)',
  '334191110',
  '365718600',
  '2010'),
 ('Guardians of the Galaxy',
  'Buena Vista (Disney)',
  '333176600',
  '358244800',
  '2014'),
 ('Forrest Gump', 'Paramount', '330252182', '683929300', '1994'),
 ('Shrek the Third', 'Paramount/Dreamworks', '322719944', '408090600', '2007'),
 ('Transformers', 'Paramount/Dreamworks', '319246193', '403697900', '2007'),
 ('Iron Man', 'Paramount', '318412101', '385808100', '2008'),
 ("Harry Potter and the Sorcerer's Stone",
  'Warner Bros.',
  '317575550',
  '486442900',
  '2001'),
 ('Indiana Jones and the Kingdom of the Crystal Skull',
  'Paramount',
  '317101119',
  '384231200',
  '2008'),
 ('The Lord of the Rings: The Fellowship of the Ring',
  'New Line',
  '315544750',
  '476753700',
  '2001'),
 ('Iron Man 2', 'Paramount', '312433331', '341908200', '2010'),
 ('Star Wars: Episode II - Attack of the Clones',
  'Fox',
  '310676740',
  '465175700',
  '2002'),
 ("Pirates of the Caribbean: At World's End",
  'Buena Vista (Disney)',
  '309420425',
  '391272900',
  '2007'),
 ('Return of the Jedi', 'Fox', '309306177', '818316900', '1983'),
 ('Independence Day', 'Fox', '306169268', '602639200', '1996'),
 ('Pirates of the Caribbean: The Curse of the Black Pearl',
  'Buena Vista (Disney)',
  '305413918',
  '440645400',
  '2003'),
 ('Skyfall', 'Sony', '304360277', '329225400', '2012'),
 ('The Hobbit: An Unexpected Journey',
  'Warner Bros. (New Line)',
  '303003568',
  '329153300',
  '2012'),
 ('Harry Potter and the Half-Blood Prince',
  'Warner Bros.',
  '301959197',
  '352098800',
  '2009'),
 ('The Twilight Saga: Eclipse', 'Sum.', '300531751', '328883800', '2010'),
 ('The Twilight Saga: New Moon', 'Sum.', '296623634', '338517700', '2009'),
 ('The Sixth Sense', 'Buena Vista (Disney)', '293506292', '500938400', '1999'),
 ('Up', 'Buena Vista (Disney)', '293004164', '341681900', '2009'),
 ('Harry Potter and the Order of the Phoenix',
  'Warner Bros.',
  '292004738',
  '369250200',
  '2007'),
 ('The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  'Buena Vista (Disney)',
  '291710957',
  '393033100',
  '2005'),
 ('The Empire Strikes Back', 'Fox', '290475067', '854171500', '1980'),
 ('Harry Potter and the Goblet of Fire',
  'Warner Bros.',
  '290013036',
  '393024800',
  '2005'),
 ('Monsters, Inc.', 'Buena Vista (Disney)', '289916256', '429372100', '2001'),
 ('Home Alone', 'Fox', '285761243', '589287500', '1990'),
 ('The Matrix Reloaded', 'Warner Bros.', '281576461', '406254600', '2003'),
 ('Meet the Fockers', 'Universal', '279261160', '384305300', '2004'),
 ('The Hangover', 'Warner Bros.', '277322503', '323343300', '2009'),
 ('Shrek', 'Dreamworks', '267665011', '411428500', '2001'),
 ('Harry Potter and the Chamber of Secrets',
  'Warner Bros.',
  '261988482',
  '390768100',
  '2002'),
 ('The Incredibles', 'Buena Vista (Disney)', '261441092', '365660600', '2004'),
 ('How the Grinch Stole Christmas',
  'Universal',
  '260044825',
  '418529400',
  '2000'),
 ('Jaws', 'Universal', '260000000', '1114285700', '1975'),
 ('Batman', 'Warner Bros.', '251188924', '547705200', '1989'),
 ('Night at the Museum', 'Fox', '250863268', '322261900', '2006'),
 ('Men in Black', 'Sony', '250690539', '475165100', '1997'),
 ('Harry Potter and the Prisoner of Azkaban',
  'Warner Bros.',
  '249541069',
  '349598600',
  '2004'),
 ('Raiders of the Lost Ark', 'Paramount', '248159971', '770183000', '1981'),
 ('Toy Story 2', 'Buena Vista (Disney)', '245852179', '416177700', '1999'),
 ('Cars', 'Buena Vista (Disney)', '244082982', '324201800', '2006'),
 ('Bruce Almighty', 'Universal', '242829261', '350350700', '2003'),
 ('Ghostbusters', 'Columbia', '242212467', '619211400', '1984'),
 ('Twister', 'Warner Bros.', '241721524', '475786700', '1996'),
 ('My Big Fat Greek Wedding', 'IFC', '241438208', '360349500', '2002'),
 ('Beverly Hills Cop', 'Paramount', '234760478', '584205200', '1984'),
 ('Cast Away', 'Fox', '233632142', '364479500', '2000'),
 ('The Exorcist', 'Warner Bros.', '232906145', '962212800', '1973'),
 ('The Lost World: Jurassic Park',
  'Universal',
  '229086679',
  '434216600',
  '1997'),
 ('Signs', 'Buena Vista (Disney)', '227966634', '341332700', '2002'),
 ('Rush Hour 2', 'New Line', '226164286', '347637700', '2001'),
 ('Mrs. Doubtfire', 'Fox', '219195243', '458354100', '1993'),
 ('Beauty and the Beast',
  'Buena Vista (Disney)',
  '218967620',
  '394664300',
  '1991'),
 ('Ghost', 'Paramount', '217631306', '447747400', '1990'),
 ('Aladdin', 'Buena Vista (Disney)', '217350219', '456248400', '1992'),
 ('Saving Private Ryan', 'Dreamworks', '216540909', '397999500', '1998'),
 ('Mission: Impossible II', 'Paramount', '215409889', '347693200', '2000'),
 ('Back to the Future', 'Universal', '210609762', '513740700', '1985'),
 ('Austin Powers: The Spy Who Shagged Me',
  'New Line',
  '206040086',
  '352863900',
  '1999'),
 ('Terminator 2: Judgment Day', 'TriS', '204843345', '423310500', '1991'),
 ('Armageddon', 'Buena Vista (Disney)', '201578182', '373929700', '1998'),
 ('Gone with the Wind', 'MGM', '198676459', '1757788200', '1939'),
 ('Indiana Jones and the Last Crusade',
  'Paramount',
  '197171806',
  '429923500',
  '1989'),
 ('Toy Story', 'Buena Vista (Disney)', '191796233', '381654400', '1995'),
 ('Grease', 'Paramount', '188755690', '669632000', '1978'),
 ('Snow White and the Seven Dwarfs',
  'Disney',
  '184925486',
  '948300000',
  '1937'),
 ('Dances with Wolves', 'Orion', '184208848', '380183900', '1990'),
 ('Batman Forever', 'Warner Bros.', '184031112', '368062200', '1995'),
 ('The Fugitive', 'Warner Bros.', '183875760', '386256600', '1993'),
 ('Liar Liar', 'Universal', '181410615', '343850200', '1997'),
 ('Mission: Impossible', 'Paramount', '180981856', '356231300', '1996'),
 ('Indiana Jones and the Temple of Doom',
  'Paramount',
  '179870271',
  '465735500',
  '1984'),
 ('Top Gun', 'Paramount', '179800601', '417818200', '1986'),
 ('Pretty Woman', 'Buena Vista (Disney)', '178406268', '366934900', '1990'),
 ('Tootsie', 'Columbia', '177200000', '495064300', '1982'),
 ("There's Something About Mary", 'Fox', '176484651', '326064000', '1998'),
 ('Crocodile Dundee', 'Paramount', '174803506', '401961400', '1986'),
 ('Apollo 13', 'Universal', '173837933', '346762300', '1995'),
 ('Home Alone 2: Lost in New York', 'Fox', '173585516', '364091400', '1992'),
 ('Air Force One', 'Sony', '172956409', '327752300', '1997'),
 ('Rain Man', 'MGM', '172825435', '376637800', '1988'),
 ('Three Men and a Baby',
  'Buena Vista (Disney)',
  '167780960',
  '362822900',
  '1987'),
 ('Robin Hood: Prince of Thieves',
  'Warner Bros.',
  '165493908',
  '341994500',
  '1991'),
 ('Batman Returns', 'Warner Bros.', '162831698', '341358000', '1992'),
 ('The Sound of Music', 'Fox', '158671368', '1239013800', '1965'),
 ('The Firm', 'Paramount', '158348367', '332761100', '1993'),
 ('Fatal Attraction', 'Paramount', '156645693', '345222500', '1987'),
 ('Who Framed Roger Rabbit',
  'Buena Vista (Disney)',
  '156452370',
  '331176600',
  '1988'),
 ('The Sting', 'Universal', '156000000', '775542900', '1973'),
 ('Beverly Hills Cop II', 'Paramount', '153665036', '341914500', '1987'),
 ('Gremlins', 'Warner Bros.', '153083102', '395694800', '1984'),
 ('Rambo: First Blood Part II', 'TriS', '150415432', '368623700', '1985'),
 ('Lethal Weapon 2', 'Warner Bros.', '147253986', '322697700', '1989'),
 ('101 Dalmatians', 'Disney', '144880014', '869280100', '1961'),
 ('The Jungle Book', 'Disney', '141843612', '641015300', '1967'),
 ("National Lampoon's Animal House",
  'Universal',
  '141600000',
  '521045300',
  '1978'),
 ('The Godfather', 'Paramount', '134966411', '686626300', '1972'),
 ('Superman', 'Warner Bros.', '134218018', '499015700', '1978'),
 ('Close Encounters of the Third Kind',
  'Columbia',
  '132088635',
  '483507200',
  '1977'),
 ('An Officer and a Gentleman', 'Paramount', '129795554', '379814600', '1982'),
 ('Smokey and the Bandit', 'Universal', '126737428', '494446500', '1977'),
 ('Rocky III', 'UA', '125049125', '369865300', '1982'),
 ('Blazing Saddles', 'Warner Bros.', '119601481', '550184700', '1974'),
 ('On Golden Pond', 'Universal', '119285432', '353083700', '1981'),
 ('Rocky', 'UA', '117235147', '478847800', '1976'),
 ('The Towering Inferno', 'Fox', '116000000', '533968300', '1974'),
 ('American Graffiti', 'Universal', '115000000', '571714300', '1973'),
 ('The Rocky Horror Picture Show', 'Fox', '112892319', '479104000', '1975'),
 ('Doctor Zhivago', 'MGM', '111721910', '1079978500', '1965'),
 ("Porky's", 'Fox', '111289673', '328182900', '1982'),
 ("One Flew Over the Cuckoo's Nest", 'UA', '108981275', '467062600', '1975'),
 ('Superman II', 'Warner Bros.', '108185706', '338566800', '1981'),
 ('Love Story', 'Paramount', '106397186', '608983900', '1970'),
 ('Kramer Vs. Kramer', 'Columbia', '106260000', '374276100', '1979'),
 ('The Graduate', 'AVCO', '104945305', '744517700', '1967'),
 ('9 to 5', 'Fox', '103290500', '334062200', '1980'),
 ('Butch Cassidy and the Sundance Kid',
  'Fox',
  '102308889',
  '613853300',
  '1969'),
 ('Mary Poppins', 'Disney', '102272727', '680181800', '1964'),
 ('Bambi', 'RKO', '102247150', '554298300', '1942'),
 ('Stir Crazy', 'Columbia', '101300000', '327624500', '1980'),
 ('Airport', 'Universal', '100489151', '575168200', '1970'),
 ('Saturday Night Fever', 'Paramount', '94213184', '353261200', '1977'),
 ('Lady and the Tramp', 'Disney', '93602326', '484893500', '1955'),
 ('Cinderella (1950)', 'Disney', '93141149', '547050200', '1950'),
 ('Peter Pan', 'Disney', '87404651', '396924700', '1953'),
 ('Young Frankenstein', 'Fox', '86273333', '397131200', '1974'),
 ('The Poseidon Adventure', 'Fox', '84563118', '477647100', '1972'),
 ('Pinocchio', 'Disney', '84254167', '586409000', '1940'),
 ('M.A.S.H.', 'Fox', '81600000', '467052600', '1970'),
 ('A Star Is Born (1976)', 'Warner Bros.', '80000000', '326760600', '1976'),
 ('Earthquake', 'Universal', '79666653', '366719500', '1974'),
 ('Fantasia', 'Disney', '76408097', '722478200', '1941'),
 ('Ben-Hur', 'MGM', '74000000', '852600000', '1959'),
 ('My Fair Lady', 'Warner Bros.', '72000000', '522000000', '1964'),
 ("What's Up, Doc?", 'Warner Bros.', '66000000', '337764700', '1972'),
 ('The Ten Commandments', 'Paramount', '65500000', '1139700000', '1956'),
 ('Thunderball', 'UA', '63595658', '650760000', '1965'),
 ('Patton', 'Fox', '61749765', '346595500', '1970'),
 ('Cleopatra (1963)', 'Fox', '57777778', '584496100', '1963'),
 ('2001: A Space Odyssey', 'MGM', '56954992', '377027700', '1968'),
 ("Guess Who's Coming to Dinner", 'Columbia', '56666667', '376335900', '1967'),
 ('Funny Girl', 'Columbia', '52223306', '348343200', '1968'),
 ('Sleeping Beauty', 'Disney', '51600000', '632281700', '1959'),
 ('Goldfinger', 'UA', '51081062', '576810000', '1964'),
 ("It's a Mad, Mad, Mad, Mad World", 'MGM', '46332858', '468716100', '1963'),
 ('Lawrence of Arabia', 'Columbia', '44824144', '481836900', '1962'),
 ('West Side Story', 'MGM', '43656822', '486941500', '1961'),
 ('Around the World in 80 Days', 'UA', '42000000', '562153800', '1956'),
 ('Swiss Family Robinson', 'Disney', '40356000', '468129600', '1960'),
 ('Rear Window', 'Paramount', '36764313', '438086300', '1954'),
 ('The Robe', 'Fox', '36000000', '569454500', '1953'),
 ('The Greatest Show on Earth', 'Paramount', '36000000', '522000000', '1952'),
 ('Psycho', 'Universal', '32000000', '371200100', '1960'),
 ('The Bridge on the River Kwai', 'Columbia', '27200000', '473280000', '1957'),
 ('House of Wax', 'Warner Bros.', '23750000', '439627700', '1953'),
 ('The Best Years of Our Lives', 'RKO', '23650000', '478500000', '1946'),
 ('The Caine Mutiny', 'Columbia', '21750000', '386173500', '1954'),
 ("The Bells of St. Mary's", 'RKO', '21333333', '545882400', '1945'),
 ('Duel in the Sun', 'Selz.', '20408163', '443877500', '1946'),
 ('Sergeant York', 'Warner Bros.', '16361885', '418671800', '1941'),
 ('The Four Horsemen of the Apocalypse',
  'MPC',
  '9183673',
  '399489800',
  '1921')]

Determine what studios are on the list and also what years.  Store these in sets and print the results.

In [22]:
studios = set()
years = set()

for movie in topMovies:
    s = movie[1]
    y = movie[4]
    studios.add(s)
    years.add(y)

print(studios)
print()
print(years)

{'Lionsgate', 'New Line', 'MPC', 'Paramount', 'Dreamworks', 'Disney', 'TriS', 'Universal', 'Sum.', 'Buena Vista (Disney)', 'Warner Bros. (New Line)', 'RKO', 'MGM', 'Warner Bros.', 'Paramount/Dreamworks', 'Orion', 'NM', 'IFC', 'Selz.', 'UA', 'Sony', 'Columbia', 'AVCO', 'Fox'}

{'2010', '2008', '1984', '1994', '1999', '1997', '1973', '2003', '1970', '2001', '1972', '1921', '1941', '1983', '1963', '1992', '1986', '1977', '1996', '2006', '1982', '2004', '1998', '1995', '1974', '1969', '1962', '1965', '1950', '2012', '1976', '1946', '2009', '2005', '1968', '1955', '2002', '1964', '1952', '1961', '2013', '2014', '1978', '1988', '1967', '1987', '1956', '1991', '1939', '1937', '1981', '2000', '1989', '1945', '2015', '2007', '1940', '1953', '1993', '1975', '1979', '1942', '1954', '1960', '1959', '1957', '2011', '1985', '1980', '1990'}